In [1]:
name = "dedi"
age = 20
address, province = "jl. cibolang", "7413412"
scorePython = 80,5
isMarried = False

print ("Nama :" , name)
print ("Umur :", age)
print ("Alamat :" , address)
print ("Nilai Pemrograman :" , scorePython)
print ("Status Menikah :" , isMarried)

Nama : dedi
Umur : 20
Alamat : jl. cibolang
Nilai Pemrograman : (80, 5)
Status Menikah : False

In [3]:
print("Tipe Data <nama> ",type(name))
print("Tipe Data <age>", type (age))
print("Tipe Data <address>",type(address))
print("Type Data  <province>", type(province))
print("Type Data <ScorePython>", type(scorePython))
print("Tipe Data <isMarried>", type(isMarried))

Tipe Data <nama>  <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <address> <class 'str'>
Type Data  <province> <class 'str'>
Type Data <ScorePython> <class 'tuple'>
Tipe Data <isMarried> <class 'bool'>

In [5]:
#casting atau konversi Tipe Data
#Konversi dari String ke (int,float,bool)
strToInt = int(province)
strTofloat = float(province)
strTobool = bool(province)
print (strToInt, strTofloat, strTobool, sep="_")
#konversi dari int ke(str,float,bool)
intTostr = str(age)
intTofloat = float(age)
intTobool = bool(age)
print(intTostr, intTofloat,intTobool, sep="_")
#konversi dari float ke (int,str,bool)
floatTostr = str(age)
floatToint = int(age)
floatTobool = bool(age)
print(floatTostr,floatToint,floatTobool, sep="_")
#konversi dari bool ke (str,int,float)
boolTostr = str(isMarried)
boolToint = int(isMarried)
boolTofloat = float(isMarried)
print(boolTostr, boolToint, boolTofloat, sep = "")

7413412_7413412.0_True
20_20.0_True
20_20_True
False00.0

In [7]:
city = "Makasar"
lenCity = len(city)
print(city [0])
print(city[lenCity-1])

M
r

In [9]:
desimal = 200
hexa = 0xff
biner = 0b1010
octal = 0o377

print ("Nilai Desimal :", desimal)
print("Nilai Desimal Dari 0xff :", hexa)
print("Nilai Desiimal Dari 0b1010 :", biner)
print ("Nilai Desimal Dari 0o77 :", octal)
print("==================================")
print("Nilai Biner Dari :", desimal, bin(desimal))
print("Nilai Octa Dari :", desimal, oct(desimal))
print("Nilai Hexa Dari ;", desimal, hex(desimal))

Nilai Desimal : 200
Nilai Desimal Dari 0xff : 255
Nilai Desiimal Dari 0b1010 : 10
Nilai Desimal Dari 0o77 : 255
==================================
Nilai Biner Dari : 200 0b11001000
Nilai Octa Dari : 200 0o310
Nilai Hexa Dari ; 200 0xc8

In [27]:
#tipe data collection
cities = ["Sukabumi", "Bandung", "Bogor", "Jakarta"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1]= "Medan"
print (cities)
print(cities[len(cities)-1][0])

##tuple
names = ("Andi","Alun","jajang")
print(names)
#names[0]="Andi" akan menyebabkan error' karena tuple adalah immutable

studentData = {
    "name" : "Dedi",
    "address" : {
        "street" : "Manchester",
        "Number" : 17,
        "Province" : "london"
    },
    
    "age" : 23,
    "isMarried" : True
}
#list of dictionery
listStudent = {
     "name" : "Dedi",
    "address" : {
        "street" : "Manchester",
        "Number" : 20,
        "Province" : "london"
    },
    "hobbies": ["Basket",  "Football"],
    "age" : 23,
    "isMarried" : True
    
},
{
     "name" : "john",
    "address" : {
        "street" : "italy",
        "Number" : 45,
        "Province" : "milan"
    },
    
    "age" : 34,
    "isMarried" : False
}

print(studentData)
print(studentData["address"]["Province"])#london
print(listStudent[1]) #semua data dari john
print(listStudent[0]["hobbies"][1]) #football - hobi dedi urutan ke 2
print(listStudent[0]["age"])#23 - Umur Dedi

['Sukabumi', 'Bandung', 'Bogor', 'Jakarta']
Sukabumi
Jakarta
['Sukabumi', 'Medan', 'Bogor', 'Jakarta']
J
('Andi', 'Alun', 'jajang')
{'name': 'Dedi', 'address': {'street': 'Manchester', 'Number': 17, 'Province': 'london'}, 'age': 23, 'isMarried': True}
london

IndexError: tuple index out of range

In [23]:
#casting dictionary
list_tuple = ("name", "dika"), ("nilai", 90)
dictStudent = dict(list_tuple)
print(dictStudent)
list_list =  [["buah", "apel"], ["harga",10000]]
dictBuah = dict(list_list)
print(dictBuah)

tuple_tuple = (("man unt","manchester is red"), ("city", "stay huble eh"))
dictManchester = dict(tuple_tuple)
print(dictManchester)

tuple_list =  (["motor","beat"],["perbulan", "500000"])
dictHargamotor = dict(tuple_list)
print(dictHargamotor)

{'name': 'dika', 'nilai': 90}
{'buah': 'apel', 'harga': 10000}
{'man unt': 'manchester is red', 'city': 'stay huble eh'}
{'motor': 'beat', 'perbulan': '500000'}